{% extends "layouts/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <p>Active Posts</p>
            </div>
            <div class="card-body">
                <p>{{ counts.active_posts_count }}</p> <!-- Replace "10" with the amount variable -->
            </div>
        </div>
    </div>
    {% if permissions['can_view_moderation_actions'] %}
    <div class="col">
        <div class="card">
            <div class="card-header">
                <p>Moderation Actions Required</p>
            </div>
            <div class="card-body">
                {% if counts.pending_posts_count > 0 or counts.pending_users_count > 0 %}
                    {% if counts.pending_posts_count > 0 %}
                    <p>Posts Pending Approvals : {{ counts.pending_posts_count }}</p>
                    {% endif %}
                    {% if counts.pending_users_count > 0 %}
                    <p>Users Pending Approvals : {{ counts.pending_users_count }} </p>
                    {% endif %}
                {% else %}
                <p>No Moderation Actions Required</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if permissions['can_view_devices_online'] %}
    <div class="col">
        <div class="card">
            <div class="card-header">
                <p>Devices Online</p>
            </div>
            <div class="card-body">
                <p>{{ counts.device_online_count }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="mt-4">
    <a href="{{ url_for('posts.new', userID=userID) }}" class="btn btn-primary">New Post</a>
</div>
{% endblock %}
