{% extends "layouts/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <p>Active Posts</p>
            </div>
            <div class="card-body">
                <p>{{ amount }}</p> <!-- Replace "10" with the amount variable -->
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <p>Moderation Actions Required</p>
            </div>
            <div class="card-body">
                <p>{{ pendingAmount }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <p>Devices Online</p>
            </div>
            <div class="card-body">
                <p>{{ amount }}</p>
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <a href="{{ url_for('posts.new', userID=userID) }}" class="btn btn-primary">New Post</a>
</div>
{% endblock %}
