{% extends "layouts/display.html" %}
{% block content %}
<div>
    <div class="container">
        <div class="row justify-content-center align-items-center" id="display-container" style="height: 100vh;">
            <div class="col-lg-8 justify-content-center align-items-center">
                <div id="display" style="min-width: 100%;"></div>
            </div>
            
            <div class="col-lg-2 justify-content-center align-items-center" id="qr-container" style="display: none;">
                <div class="d-flex justify-content-center align-items-center" style="height: 100%;" id="qrcode-display">
                    <img src="" alt="QR Code" style="max-height: 100vh;" />
                </div>
            </div>
        </div>
        <div class="progress" role="progressbar" aria-label="Progress Bar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100" style="height: 1px;">
            <div id="progress-bar" class=" bg-success progress-bar progress-bar-striped progress-bar-animated"></div>
        </div>
    </div>

</div>

<script>
    var allPosts = {{ posts| tojson }};
    var currentPostIndex = 0;

    function fetchNewPosts() {
        // Reload the page
        window.location.reload();
    }

    function displayPost(post) {
        changeBackgroundColor(post.background_color);
        toggleQRContainer(false);
        // Display the post based on its type
        if (post.type.toLowerCase() === "html") {
            displayHTML(post.html_content);
        } else if (post.type.toLowerCase() == "image") {
            // display image
            displayImage(post.image_link);
        } else if (post.type.toLowerCase() == "web_link") {
            // display weblink
            displayWeblink(post.web_link);
        } else {
            console.log(`Error: Post type ${post.type} not found`);
        }

        // if post has a Qr code, display it on the side of display
        if (post.qr_code_link && post.qr_code_link != "") {
            displayQRCode(post.qr_code_link);
        }

        // Calculate the next post index
        currentPostIndex = (currentPostIndex + 1) % allPosts.length;

        // Set a timeout to display the next post after a delay
        setTimeout(function () {
            displayPost(allPosts[currentPostIndex]);
        }, post.display_time * 1000); // Convert display_time to milliseconds
    }

    function displayHTML(htmlContent) {
        document.getElementById("display").innerHTML = htmlContent;
    }

    function displayQRCode(link){
        toggleQRContainer(true);
        document.getElementById("qrcode-display").innerHTML = `<img src="${link}" alt="QR Code" style="max-height: 100vh;" />`;
    }

    function toggleQRContainer(display){
        if (display){
            document.getElementById("qr-container").style.display = "block";
        }else{
            document.getElementById("qr-container").style.display = "none";
        }
    }

    function changeBackgroundColor(color){
        if (color != null){
            // change body background color
            document.body.style.backgroundColor = color;
        }
    }


    function displayImage(imagePath) {
        document.getElementById("display").innerHTML = `<img src="${imagePath}" alt="Image Display" style="max-height:100vh" />`;
    }

    function displayWeblink(webLinkPath) {
        document.getElementById("display").innerHTML = `<iframe src="${webLinkPath}" style="height:100vh;width:100%;border:none;"></iframe>`;
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        if (allPosts.length == 0) {
            // No posts to display
            console.log("No posts to display");
            return;
        }
        displayPost(allPosts[currentPostIndex]);
    });

</script>

{% endblock %}