{% extends "layouts/base.html" %}
{% block content %}

<div>
    <h3>Edit Group - {{group.name}}</h3>
    <p>Manage and edit a specific group</p>
</div>

<div class="card">
    <div class="card-body">
        <form action="" id="group-form" method="post" onsubmit="submitForm">
            <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{group.name}}" required />
            </div>

            <div class="mb-3">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description"
                    value="{{group.description}}">
            </div>

            <div class="mb-3">
                <input type="checkbox" class="form-check-input" id="moderation" name="moderation_required" {% if
                    group.moderation_required %} checked {% endif %} />
                <label for="moderation" class="form-label">Moderation Required</label>
            </div>

            {% include "groups/components/moderator-control.html" %}

            <div class="mt-2">
                <button type="submit" class="btn btn-primary" id="saveGroup">Save Group</button>
            </div>
        </form>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        Devices in this Group
    </div>

    <div class="card-body">
        {% if devices|length > 0 %}
        <form action="/groups/edit/{{group.id}}/devices" method="post">


            <label for="device_label"> <strong>Devices Linked</strong> </label>

            <div class="row">
                {% for device in devices %}
                <div class="col-4">
                    <label class="form-check-label" for="device_label_{{device.id}}">
                        <input type="checkbox" class="form-check-input" id="device_label_{{device.id}}" name="device_id"
                            value="{{device.id}}" {% if device.selected %} checked {% endif %} />
                        {{device.name}}
                    </label>
                </div>
                {%endfor%}
            </div>

            <div class="mt-2">
                <button type="submit" class="btn btn-primary" id="save">Update Devices</button>
            </div>

        </form>

        {% else %}
        <div class="text-center rounded bg-warning ">
            <p class="text-white">No devices available for selection</p>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}