{% extends "layouts/base.html" %}
{% block content %}

<div>
    <h3>Edit Group - {{group.name}}</h3>
    <p>Manage and edit a specific group</p>
</div>

<div class="card">
    <div class="card-body">
        <form action="" method="post">
        <div class="">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{group.name}}" required />
        </div>

        <div class=" mt-2">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{group.description}}">
        </div>

        <div class=" mt-2">
            <label for="moderation">Moderation Required</label>
            <input type="checkbox" class="form-check-input" id="moderation" name="moderation_required" {% if
                group.moderation_required %} checked {% endif %} />
        </div>

        <div class="mt-2">
            <label for="moderator_id">Moderator</label>
            <select class="form-control" id="moderator_id" name="moderator_id">
                <option value="">Select a Moderator</option>
                {% for user in users %}
                <option value="{{user.id}}" {% if group.moderator_id==user.id %} selected {% endif %}>
                    {{user.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-primary" id="save">Save</button>
        </div>
        </form>
    </div>
</div>
</div>

{%endblock%}