<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="header">
    This is a header
  </div>
  <div class="button-container">
    <a href="{{ url_for('upload_file') }}"><button class="button">Upload a File</button></a>
    <a href="{{ url_for('upload_url') }}"><button class="button">Upload a URL</button></a>
  </div>
</body>
</html>
