{% extends "layouts/base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/groups/admin-view">View Groups</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Group </li>
    </ol>
</nav>

<div class="card mt-3">
    <div class="card-body">
        <form action="" method="post" onsubmit="submitForm()">
            <div class="mb-3">
                <label for="name" class="form-label"> <strong>Name of the group</strong> </label>
                <input type="text" class="form-control" id="name" name="name" required />
            </div>
            <div class="mb-3">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="mb-3">
                <label for="moderation" class="form-label block" > <strong>Moderation on Posts Required</strong> </label><div></div>
                <input type="checkbox" class="form-check-input" id="moderation" name="moderation_required" checked />
            </div>

            {% include "groups/components/moderator-control.html" %}
            <div class="mb-3">
                <label for="groupColor" class="form-label"> <strong>Background Color</strong> </label>
                <input type="color" id="color" name="color" value="#FFFFFF">
            </div>

            <button class="btn btn-primary" type="submit">Create Group</button>
        </form>
    </div>
</div>


{%endblock%}